<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="{{ url_for('static', filename='img/favicon-32x32.png') }}" alt="">
      <small class="d-block mb-3 text-muted">&copy; 2024. IMHOweb.</small>
    </div>
    <div class="col-6 col-md">
      <h5>Products</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Web Hosting</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#domain">Domain</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#email">Email Hosting</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Features</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/#pricing">Pricing</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/support">Support</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/whois">WHOIS LookUp</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/privacy">Privacy</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/terms">Terms</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Media</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">Twitter</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="github.com/imhodot">GitHub</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/blog">Blog</a></li>
      </ul>
    </div>    
  </div>
</footer>
