<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='assets/img/logo-black.png') }}" alt="" class="img-fluid"></a>
    <!--<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">IMHOweb</span>        
    </a>-->
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto navbar navbar-expand-sm">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item dropdown"><a class="me-3 py-2 text-dark text-decoration-none nav-link dropdown-toggle" href="/hosting" data-bs-toggle="dropdown" aria-expanded="false">Hosting</a>
            <ul>
              <li><a href="#">Shared Hosting</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Dedicated Hosting</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="me-3 py-2 text-dark text-decoration-none nav-link dropdown-toggle" href="/domains" data-bs-toggle="dropdown" aria-expanded="false">Domains</a>
            <ul>
              <li><a href="#">Register Your Domain</a></li>
              <li><a href="/whois">WHOIS Search</a></li>
              <li><a href="">Become A Domain Reseller</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="me-3 py-2 text-dark text-decoration-none nav-link" href="/support">Support</a></li>
          <li class="nav-item"><a class="me-3 py-2 text-dark text-decoration-none nav-link" href="#">Resources</a></li>
          <li class="nav-item"><a><button type="button" class="btn btn-sm btn-outline-secondary" href="/contact" title="Contact Us"><strong>Contact</strong></button></a></li>
          <li class="nav-item"><a><button type="button" class="btn btn-sm btn-outline-secondary" href="/login" title="Create an account"><strong>Login</strong></button></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
