<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
  <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
  <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
  <a class="me-3 py-2 text-dark text-decoration-none" href="/support">Support</a>
  {% if current_user.is_authenticated %}
  <a class="py-2 btn btn-sm btn-outline-secondary" href="{{ url_for('logout') }}">>Log out</a>
  {% else %}
  <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Sign up</a>
  <a class="py-2 btn btn-sm btn-outline-secondary" href="/login">Log in</a>
  {% endif %}
</nav>
