{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ user.name }}'s Details {% endblock %}
    </h1>
    <form method="post">
        <p>
            <label for="firstname">Full Name</label>
            <input type="text" name="fname" value={{ user.fname }}
                   placeholder="Full name">
            </input>
        </p>

        <p>
            <label for="email">Email</label>
            <input type="email" name="email" value={{ user.email }}
                   placeholder="Email">
            </input>
        </p>

        <p>
        <label for="bio">Bio</label>
        <br>
        <textarea name="bio" placeholder="Bio" rows="15" cols="60">
                  {{ user.bio }}</textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
