<!--Footer-->
<footer id="footer" class="site-footer">
    <!--Footer Bottom-->
    <section class="row site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 widget-footer">
                    <h4 class="widget-title">Quick Links</h4>
                    <div class="row widget-content">
                        <ul class="menu">
                            <li><a href="index.html">Home Page</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Quick Pages</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 widget-footer">
                    <h4 class="widget-title">Stay Connected</h4>
                    <div class="row widget-content">
                        <ul class="list-unstyled fsocial">
                            <li><a href="http://twitter.com/imhodot"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="http://github.com/imhodot"><i class="fa fa-github fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5 widget-footer">
                    <h4 class="widget-title">Sign Up for Our Newsletter</h4>
                    <div class="row widget-content">
                        <p>Join Our Newsletter & Marketing Communication. We'll send you news and offers..</p>
                        <form action="#" class="input-group footer-subscribe-form">
                            <input type="email" class="form-control">
                            <span class="input-group-addon"><button type="submit" class="btn btn-primary">subscribe</button></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>