<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='assets/img/logo-black.png') }}" alt="" class="img-fluid"></a>
      <!--<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">IMHOweb</span>        
      </a>-->
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Products</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/checkout">Enterprise</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/support">Support</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Resources</a>
        <a class="py-2 btn btn-sm btn-outline-secondary" href="/contact" title="Contact Us">Contact</a>
        <a class="py-2 btn btn-sm btn-outline-secondary" href="/signup" title="Create an account">SignUp</a>
      </nav>
    </div>
  </header>