{% extends "base.html" %}
{% block title %}IMHOweb - Support{% endblock %}

{% block style %} 
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
{% endblock style %}

<body>
  <div class="container py-3">

    {% block header %}
      {% include "_header.html" %}
    {% endblock %}

    <main id="main">

      <section class="inner-page">
        <div class="container">
          <p>
            {% block content %}
              <div class="starter-template">
                <h1>Support Center</h1>
                <form action="" method="POST">
                  <div class="input-group">
                    {{ form.question.label }} {{ form.question(class="form-control", placeholder='How can we help you') }}
                    {{ form.submit() }}
                  </div>
                </form>
                <p class="lead">How can we help you?</p>
              </div>
            {% endblock content %}
          </p>
        </div><!-- /.container -->
      </section>
    </main>
  </div>
</body>

